<h1>SUPER HUSTLE 757 ONLINE </h1>

<h1><%= $user_first_name %></h1>

  <div id="sidebar">
  <ul id="sidebar-items">
  <li>
  <h3>Feel free to browse the sites in the links are below.</h3>
            <ul class="links">
              <li><a href="http://www.ebay.com/">Ebay.com</a></li>
              <li><a href="http://www.amazon.com/">Amazon.com</a></li>
              <li><a href="http://www.twitter.com/">Twitter.com</a></li>
              <li><a href="http://www.facebook.com/">Facebook.com</a></li>
            </ul>
          </li>
        </ul>
      </div>

  <%= link_to "Log out", logout_path %>

  <div>
  <h1>If you want to go back to the home page and </h1>
  <h2>log out at same time click below</h2>
  <li><a href="http://localhost:3000">Home</a></li>
  </div>


