<h1>SuperHuste757.com</h1>
<p>Welcome to the Super Hustle 757 Website</p>

<p>Please sign in or register by clicking the button below</p>

<%= link_to "Sign In", login_path %>
<%= link_to "Register", register_path %>
